* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#startscreen {
  background-color: white;
}
#input, #output {
  margin: 1em 0;
}

#output a {
  display: inline-block;
  margin: 0px 3px;
  font-size: 10px;
}